
body{
    background-color: rgb(13, 13, 13);
    font-family: "Poppins";
}
header{

    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    font-size: x-large;
    text-align: center;
    align-items: center;
    width: 60%;
}
a{
    font-size: large;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 2%;
    transition: color 0.5s;    
}
a:hover{
    color: rgb(255, 188, 79);
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 100vh;
}
.hlateral{
    width: 5%;
    height: 100vh;
    
    background-color: rgb(18, 18, 18);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imenu{
    width: 50%;
    height: 70%;
    filter: brightness(0) saturate(100%) invert(98%) sepia(5%) saturate(152%) hue-rotate(248deg) brightness(119%) contrast(100%);
    transition: filter 0.5s;
}
.imenu:hover{
    filter: brightness(0) saturate(100%) invert(95%) sepia(11%) saturate(4021%) hue-rotate(317deg) brightness(100%) contrast(103%);
}
.imgl{
    width: 30%;
    filter: brightness(0) saturate(100%) invert(98%) sepia(5%) saturate(152%) hue-rotate(248deg) brightness(119%) contrast(100%);
    transition: filter 0.5s;
}
.imgl:hover{
    filter: brightness(0) saturate(100%) invert(95%) sepia(11%) saturate(4021%) hue-rotate(317deg) brightness(100%) contrast(103%);
}
.hprincipal{
    width: 47.5%;
   
    color: white;
    word-break: keep-all; 
}
.htext{
    color: white;
    word-break: keep-all;
    margin: 20%;
    font-family: "Poppins";
}
button{
    background-color:  rgb(255, 188, 79);
    border-radius: 5%;
    color: rgb(13, 13, 13);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    font-weight: bold;
    margin: 4px 2px;
    transition: 0.5s;
    font-family: "Poppins";
}
button:hover{
    text-decoration: none;
    border: 2px solid rgb(255, 188, 79);
    color: white;
    background-color: rgb(13, 13, 13);
}
.himg{
    width: 47.5%;
     
}
.heroimg{
    width: 100%;
}
.misup{
    height: 70vh;
   
    background-color: rgb(18, 18, 18);
    display: flex;
    align-items: center;
}
.sconimg{
    width: 50%;
}
.supimg{
    margin-left: 30%;
    width: 25%;
}
.suptext{
    width: 50%;
    color: white;
    word-break: keep-all;
    font-family: "Poppins";
    margin-right: 10%;
}
.interli{
    margin: 10% 0%;
}
.h1color{
    color: rgb(255, 188, 79);
}
.miinf{

    padding: 2%;
    height: 70vh;
 
    background-color: rgb(18, 18, 18);
    color: white;
    word-break: keep-all;
    font-family: "Poppins";
}
.intext{
    margin-top: 2%;
  
    word-break: keep-all;
    width: 30%;
    margin: 10% 0% 0% 25%;
}
.indi{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sindi{
    width: 15%;
    height: 20vh;
    text-align: center;
}
.sicolor{
    color: rgb(255, 188, 79);
}
.siborde{
    height: 5vh;
    background-color: rgb(32, 34, 46) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dline{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    width: 100%;
    height: 5vh;    
    filter: brightness(0) saturate(100%) invert(95%) sepia(11%) saturate(4021%) hue-rotate(317deg) brightness(100%) contrast(103%);
}
.sprin{
    margin-top:2% ;
    display: flex;
    align-items: center;
    flex-direction: column;
   
}
.sserv{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    
}
.stit1{
    color: rgb(255, 188, 79);
    z-index: 1;
    position: relative;
    
}
.stit2{
    color: rgb(26, 25, 28);
    font-size: 500%;
    position: absolute;
    z-index: -1;
    
}
.sparr{
    margin: 2%;
    width: 40%;
    color: white;
    text-align: center;
    word-break: keep-all;
   
}
.scont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sitem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    word-break: keep-all;
    border-radius: 2%;
    color: white;
    width: 20%;
    height: 30vh;
    margin: 1%;
    padding: 1%;
    transition: 0.5s;
}
.sicon{
    width: 20%;
    filter: brightness(0) saturate(100%) invert(98%) sepia(5%) saturate(152%) hue-rotate(248deg) brightness(119%) contrast(100%);
    transition: filter 0.5s;
}
.sitem:hover{
    background-color: rgb(20, 20, 20);
    color: rgb(255, 188, 79);
    & .sicon{
        filter: brightness(0) saturate(100%) invert(95%) sepia(11%) saturate(4021%) hue-rotate(317deg) brightness(100%) contrast(103%);
    }
}
.sbox{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    word-break: keep-all;
    
    color: white;
    margin: 1%;
    padding: 1%;
    
    line-height: 3%;
}
.sh2{
    color: rgb(255, 188, 79);
}
.sfin{
    margin: 5%;
    color: white;
    font-size: 250%;
    font-style: inherit;
    text-align: center;
}
.hprin{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.hhab{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
   
}
.htit1{
    color: rgb(255, 188, 79);
    z-index: 1;
    position: relative;
    
}
.htit2{
    color: rgb(26, 25, 28);
    font-size: 500%;
    position: absolute;
    z-index: -1;
    
}
.hparr{
    margin: 2%;
    width: 40%;
    color: white;
    text-align: center;
    word-break: keep-all;
    
}
.hbox{
    width: 40%;
    display: flex;
    flex-direction: column;
   
    color: white;
    margin-left: 15%;
    line-height: 3%;
}
.habi{
    display: flex;
}
.hpbox{
    margin: 1%;
    width: 40%;
    padding: 1%;
    font-size: x-large;
    border-radius: 2%;  

    text-align: center;
    transition: 0.5s;
}
.hpbox:hover{
    color: rgb(255, 188, 79);
    background-color: rgb(14, 14, 18);
}
.hprog{
    width: 40%;
    display: flex;
    flex-direction: column;
    
    color: white;
    margin: 2%;
}
.hbar{
    width: 80%;
    height: 1vh;    
    margin: 1%;
    background-color: rgb(194, 196, 196);
}
.progre80{
    width: 80%;
    height: 100%;
    background-color: rgb(255, 188, 79);
    animation: prog80 5s ease-in-out;
}
@keyframes prog80{
  0% {width: 0%}
  100% {width: 80%}
}
.progre85{
    width: 85%;
    height: 100%;
    background-color: rgb(255, 188, 79);
    animation: prog85 5s ease-in-out infinite;
}
@keyframes prog85{
  0% {width: 0%}
  100% {width: 85%}
}
.progre90{
    width: 90%;
    height: 100%;
    background-color: rgb(255, 188, 79); 
    animation: prog90 5s ease-in-out infinite;

}
@keyframes prog90{
  0% {width: 0%}
  100% {width: 90%}
}
.hbtext{
    width: 80%;
    height: 6vh;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.hbsize{
    font-size: x-large;
}
.phab{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ptit1{
    color: rgb(255, 188, 79);
    z-index: 1;
    position: relative;
   
}
.ptit2{
    color: rgb(26, 25, 28);
    font-size: 500%;
    position: absolute;
    z-index: -1;
   
}
.pparr{
    margin: 2%;
    width: 40%;
    color: white;
    text-align: center;
    word-break: keep-all;
   
}
.pprin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 
}
.proimg{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.pimgl{
    width: 3%;
    filter: brightness(0) saturate(100%) invert(98%) sepia(5%) saturate(152%) hue-rotate(248deg) brightness(119%) contrast(100%);
    margin: 2%;
    transition: filter 0.5s;
    border-radius: 5%;
}
.pimgl:hover{
    filter: brightness(0) saturate(100%) invert(95%) sepia(11%) saturate(4021%) hue-rotate(317deg) brightness(100%) contrast(103%);
}
.pimglat{
    width: 10%;
    border-radius: 5%;
}
.pimgcen{
    width: 40%;
    border-radius: 5%;
}
.protext{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.colorw{
    color: white;
}
.color{
    color: rgb(255, 188, 79);
}
.thab{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.ttit1{
    color: rgb(255, 188, 79);
    z-index: 1;
    position: relative;
 
}
.ttit2{
    color: rgb(26, 25, 28);
    font-size: 500%;
    position: absolute;
    z-index: -1;
   
}
.radio{
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.tclient{
    margin: 10%;
    height: 50vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    

    background-color: rgb(15, 15, 18);
}
.timg{
    margin: 2%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.timgh{
    filter: brightness(0) saturate(100%) invert(98%) sepia(5%) saturate(152%) hue-rotate(248deg) brightness(119%) contrast(100%); 
}
.timgh:hover{
    filter: brightness(0) saturate(100%) invert(95%) sepia(11%) saturate(4021%) hue-rotate(317deg) brightness(100%) contrast(103%);
}
.ttext{
    width: 50%;
    text-align: center;
    color: white;
    word-break: keep-all;
}