


body{
    background-color: rgb(13, 13, 13);
    font-family: "Poppins";
}
header{
    border: solid 2px red;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    font-size: x-large;
    text-align: center;
    align-items: center;
    width: 60%;
}
a{
    font-size: large;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 2%;
    transition: color 0.5s;    
}
a:hover{
    color: rgb(255, 188, 79);
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px blue;
    height: 100vh;
}
.hlateral{
    width: 5%;
    height: 100vh;
    border: 2px solid aqua;
    background-color: rgb(18, 18, 18);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imenu{
    width: 50%;
    height: 70%;
    filter: brightness(0) saturate(100%) invert(98%) sepia(5%) saturate(152%) hue-rotate(248deg) brightness(119%) contrast(100%);
    transition: filter 0.5s;
}
.imenu:hover{
    filter: brightness(0) saturate(100%) invert(95%) sepia(11%) saturate(4021%) hue-rotate(317deg) brightness(100%) contrast(103%);
}
.imgl{
    width: 30%;
    filter: brightness(0) saturate(100%) invert(98%) sepia(5%) saturate(152%) hue-rotate(248deg) brightness(119%) contrast(100%);
    transition: filter 0.5s;
}
.imgl:hover{
    filter: brightness(0) saturate(100%) invert(95%) sepia(11%) saturate(4021%) hue-rotate(317deg) brightness(100%) contrast(103%);
}
.hprincipal{
    width: 47.5%;
    border: 2px solid aquamarine;
    color: white;
    word-break: keep-all; 
}
.htext{
    color: white;
    word-break: keep-all;
    margin: 20%;
    font-family: "Poppins";
}
button{
    background-color:  rgb(255, 188, 79);
    border-radius: 5%;
    color: rgb(13, 13, 13);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    font-weight: bold;
    margin: 4px 2px;
    transition: 0.5s;
    font-family: "Poppins";
}
button:hover{
    text-decoration: none;
    border: 2px solid rgb(255, 188, 79);
    color: white;
    background-color: rgb(13, 13, 13);
}
.himg{
    width: 47.5%;
    border: 2px solid aquamarine; 
}
.misup{
    height: 70vh;
    border: 2px solid aqua;
    background-color: rgb(18, 18, 18);
    display: flex;
    align-items: center;
}
.supimg{
    width: 50%;
}
.suptext{
    width: 50%;
    color: white;
    word-break: keep-all;
    font-family: "Poppins";
    margin-right: 10%;
}
.interli{
    margin: 10% 0%;
}
.miinf{
    height: 70vh;
    border: 2px solid aqua;
    background-color: rgb(18, 18, 18);
    color: white;
    word-break: keep-all;
    font-family: "Poppins";
}
.intext{
    word-break: keep-all;
    width: 30%;
    margin: 10% 0% 0% 25%;
}
.indi{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sindi{
    width: 15%;
    height: 20vh;
    text-align: center;
}
.sicolor{
    color: rgb(255, 188, 79);
}
.siborde{
    height: 5vh;
    background-color: rgb(32, 34, 46) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dline{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    width: 100%;
    height: 5vh;    
    filter: brightness(0) saturate(100%) invert(95%) sepia(11%) saturate(4021%) hue-rotate(317deg) brightness(100%) contrast(103%);
}
.sprin{

    display: flex;

    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(255, 64, 0);
}
.sserv{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    border: 2px solid rgb(0, 255, 0);
}
.stit1{
    color: rgb(255, 188, 79);
    z-index: 1;
    position: relative;
    border: 2px solid rgb(179, 0, 255);
}
.stit2{
    color: rgb(26, 25, 28);
    font-size: 500%;
    position: absolute;
    z-index: -1;
    border: 2px solid rgb(179, 255, 0);
}
.sparr{
    margin: 2%;
    width: 40%;
    color: white;
    text-align: center;
    word-break: keep-all;
    border: 2px solid aqua;
}
.scont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sitem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    word-break: keep-all;
    border-radius: 2%;
    color: white;
    width: 20%;
    height: 30vh;
    margin: 1%;
    padding: 1%;
    transition: 0.5s;
}
.sicon{
    width: 20%;
    filter: brightness(0) saturate(100%) invert(98%) sepia(5%) saturate(152%) hue-rotate(248deg) brightness(119%) contrast(100%);
    transition: filter 0.5s;
}
.sitem:hover{
    background-color: rgb(20, 20, 20);
    color: rgb(255, 188, 79);
    & .sicon{
        filter: brightness(0) saturate(100%) invert(95%) sepia(11%) saturate(4021%) hue-rotate(317deg) brightness(100%) contrast(103%);
    }
}
  